body{
    position: relative;
    font-family: 'Playfair Display', serif;   
}

.background{
    position:fixed;   
    top: 0;
    left: 0;   
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(100%) blur(5px);
    background-size:cover ;
    background-position:center;
    animation: zoomIn 1s ease-in-out forwards;
}

.heading{
    font-size: 45px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,0%);
}
.heading-text {
    color: aliceblue;
    text-align: center;
    max-width: 300px;
    z-index: 1; 
}
h1{
   perspective: 1000px;
}
span{
    display: inline-block;
    animation-name: flip;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    opacity: 0;
    backface-visibility: visible;
}
span:nth-of-type(1){
    animation-delay: 0.1s;
}
span:nth-of-type(2){
    animation-delay:0.3s;
}
span:nth-of-type(3){
    animation-delay:0.5s;
}
span:nth-of-type(4){
    animation-delay:0.7s;
}
span:nth-of-type(5){
    animation-delay:1s;
}
.name{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 5px;
    color: aliceblue;
    margin: 5px;
    z-index: 11;
}
/*Menu for options*/
.options{
    position: fixed;
    color: aliceblue;
    font-size: 26px;
    padding: 10px;
    top:10px;
    right: 10px;
    bottom: 0;
    margin: auto;
    z-index: 12;
}
.options:hover{
    cursor:pointer;
    color: rgb(203, 214, 224);
    font-size:27px ;
}

.cross_option{
    display: none;
    position: fixed;
    cursor:pointer;
    color: aliceblue;
    font-size:27px ;
    padding: 10px;
    top:10px;
    right: 10px;
    margin: auto;
    z-index: 13;
}
.arrow-down{
    color: aliceblue;
    font-size: 25px;
    position: absolute;
    top:485px;
    left:610px;
    
}
.arrow-down:hover{
    color: rgb(203, 214, 224);
    font-size: 26px;
    cursor: pointer;
}
.headliner{
    color: aliceblue;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 455px;
}
.headliner_op{
    opacity: 0;
    animation: invisible;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.3s;
}
/* For Home Page */
/* For background of home page when the button is
clicked*/

.background_color{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
   /* background-color: rgb(57, 57, 147);*/
    background-color: rgb(17, 17, 122);
    
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-name: background_color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}
.Home_Page{
    
    position: fixed;
    top: 20%;   
    right: 2%;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.Home_Page li{
    list-style: none;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}
.Home_Page a{
    color: rgb(219, 226, 234);
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    font-weight: 800;
    font-size: 49px;
    width: 100%;
    text-align: center;
} 
.Home_Page a.home_link {
    color: #fff;
}
.Home_Page a:hover{
    color: #fff;
}
/*Media queries for smaller screens*/
@media screen and (max-width:768px){
    .heading{
        font-size: 40px;
    }
    .name{
        margin:5px;
    }
    .arrow-down{
      
        font-size: 20px;
        top: 465px;
        left: 250px;
    }
}

/*Animation to transition from a hidden state to its full
size*/
@keyframes zoomIn {
    0% {
      opacity: 0;
      transform: translate(-5%,0%) scale(0.5);
    }
    50% {
      opacity: 0.9;
      transform: translate(-5%,0%) scale(1.1);
    }
    100% {
      opacity: 1;
      transform: translate(-5%,0%) scale(1);
    }
  }
  /* To flip a word in sequence */
  @keyframes flip{
    from {
        transform: rotateX(-80deg);
        opacity: 0; 
    }
    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
  }
  /*To make the headliner invisible until the flipping 
  fully occurs*/
  @keyframes invisible{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  /*Animation to move background color from the top to the bottom*/
  @keyframes background_color{
    from{   
        opacity: 0.5; 
        bottom: 100%;
    }
    to {
        opacity: 0.95; 
        bottom: 0;
    }
  }