body{
    position: relative;
    font-family: 'Playfair Display', serif;   
}

.background{
    position:fixed;   
    top: 0;
    left: 0;   
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(100%) blur(5px);

    background-size:cover ;
    background-position:center;
    animation: zoomIn 1s ease-in-out forwards;
}

.heading{
    font-size: 42px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,0%);
}
.heading-text {
    color: aliceblue;
    text-align: center;
    max-width: 300px;
    z-index: 1;

}
.name{
    color: aliceblue;
    margin: 10px;
}
.options{
    color: aliceblue;
    font-size: 26px;
    position:absolute;
    top:0;
    right: 10px;
    margin: auto;
    z-index: 1;
}
.options:hover{
    cursor:pointer;
    color: rgb(203, 214, 224);
    font-size:27px ;
}
.arrow-down{
    color: aliceblue;
    font-size: 25px;
    position: absolute;
    top: 465px;
    left: 620px;
}
.arrow-down:hover{
    color: rgb(203, 214, 224);
    font-size: 26px;
    cursor: pointer;
}
.headliner{
    color: aliceblue;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 375px;
}
/*Media queries for smaller screens*/
@media screen and (max-width:768px){
    .heading{
        font-size: 40px;
    }
    .name{
        margin:5px;
    }
}

/*Animation to transition from a hidden state to its full
size*/
@keyframes zoomIn {
    0% {
      opacity: 0;
      transform: translate(-5%,0%) scale(0.5);
    }
    50% {
      opacity: 0.9;
      transform: translate(-5%,0%) scale(1.1);
    }
    100% {
      opacity: 1;
      transform: translate(-5%,0%) scale(1);
    }
  }
  
  